@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary: #5C6B28;
    --secondary: #E7E8A6;
    --accent: #FFAA33;
    --black: #141C11;
    --white: #FCFCFC;
    --gray: #939393;
    --shadow: #141c1130;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

main {
    background-image: url(../asset/svg/noise.svg);
}

a {
    color: var(--primary);
    text-decoration: none;
}

li {
    list-style: none;
}

svg {
    display: inline;
}

.relative {
    position: relative;
}

/* ../components/header.php */
nav {
    z-index: 10;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: var(--white);

}

nav>svg {
    height: 2rem;
}

#nav-items {
    display: flex;
    gap: 1rem;
}

#nav-items a:hover,
#nav-items button:hover {
    color: var(--accent);
    transition-duration: 200ms;
}

#nav-dropdown {
    display: flex;
    gap: .5rem;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--primary);
    font-size: 1rem;
}

#nav-dropdown-arrow {
    height: 1rem;
}

#nav-dropdown-items {
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    display: none;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
    border-radius: 4px;
    background-color: var(--white);
    box-shadow: 0 2px 4px 2px var(--shadow);
}

#nav-dropdown:focus {
    color: var(--accent);
}

#nav-dropdown:hover+#nav-dropdown-items,
#nav-dropdown:focus+#nav-dropdown-items,
#nav-dropdown-items:focus {
    display: flex;
}

.nav-highlight {
    color: var(--accent) !important;
}

/* ../components/button.php */

button {
    cursor: pointer;
}

.btn {
    display: flex;
    gap: .5rem;
    align-items: center;
    color: var(--white);
    padding: .5rem 1rem;
    height: fit-content;
    border: none;
    border-radius: 1.5rem;
}

.btn:hover {
    opacity: 80%;
    transition-duration: 200ms;
}

.btn svg {
    height: 1rem;
}

.btn.primary {
    background-color: var(--primary);
}

.btn.default {
    background-color: var(--accent);
}

/* ../components/title-highlight.php */
.title-highlight {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.highlight-fx {
    position: absolute;
    height: .5rem;
    bottom: 0;
    left: -1.5%;
    z-index: 0;
}

.highlight-desc {
    position: relative;
    z-index: 1;
}

.title-highlight.center {
    text-align: center;
    justify-content: center;
}

/* ../components/newsletter.php */
section.newsletter {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    color: var(--secondary);
}

input.newsletter {
    padding: .75rem 2rem;
    height: fit-content;
    width: 100%;
    border: none;
    border-radius: 2rem;
}

/* ../components/footer.php */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--accent);
    padding: 2rem;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--white);
    flex-wrap: wrap;
}

.text-container {
    max-width: 70%;
}

.subheading {
    font-size: 35px;
    color: var(--secondary);
    font-weight: bold;
    margin: 0;
}

.heading {
    font-size: 45px;
    font-weight: bold;
    margin: 10px 0 0 0;
    font-family: 'Rubik', sans-serif;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--white);
    justify-content: center;
    align-items: center;
    color: var(--white);
    transition: background-color 0.3s, color 0.3s;
}

.social-icons a:hover {
    background-color: var(--white);
    color: var(--accent);
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.social-icons a:hover img {
    filter: brightness(0) invert(1);
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px;
    flex-wrap: wrap;
    color: var(--white);
}

.info .info-item {
    margin: 0 20px;
    flex: 1;
    min-width: 200px;
}

.info .info-item p {
    margin: 15px 0px;
    max-width: 80%;
}

.info .info-item ul li {
    margin: 15px 0px;
    font-weight: normal;
}

.info-item img {
    width: 70%;
    height: auto;
}

.info-item a {
    color: var(--white);
    text-decoration: none;
    transition: font-weight 0.5s ease-in-out;
}

.info-item a:hover {
    text-decoration: none;
    font-weight: bold;
}

.info-time .title {
    font-weight: bold;
}

.social-icons {
    justify-content: center;
    align-items: center;
}

.social-icon {
    margin: 0 10px;
    font-size: 2em;
}

.left-content,
.right-content {
    display: flex;
    margin-top: 20px;
}

.left-content {
    align-items: flex-start;
}

.right-content {
    align-items: flex-end;
}

.links-item {
    margin: 0 10px;
    color: var(--white);
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.contact-item {
    margin: 0 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: var(--white);
    font-weight: normal;
    flex-wrap: wrap;
}

footer a {
    color: var(--white);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.line {
    height: 1px;
    background-color: var(--white);
    margin: 20px 0;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .text-container {
        max-width: 100%;
    }

    .subheading {
        font-size: 28px;
    }

    .heading {
        font-size: 36px;
    }

    .info {
        flex-direction: column;
        align-items: start;
        text-align: start;
    }

    .info .info-item {
        margin: 10px 0;
        flex: none;
        max-width: 100%;
    }

    .info .info-item p {
        max-width: 100%;
    }

    .social-icons {
        justify-content: start;
        margin-top: 20px;
    }

    .left-content,
    .right-content {
        flex-direction: column;
        align-items: start;
    }

    .left-content {
        margin-bottom: 20px;
    }

    footer {
        flex-direction: column;
        text-align: start;
    }
}

/* media queries */

@media (min-width: 1024px) {
    .mobile-only {
        display: none;
    }

    nav #nav-items {
        /* TODO */
    }
}