:root {
    --primary: #5C6B28;
    --secondary: #E7E8A6;
    --accent: #FFAA33;
    --black: #141C11;
    --white: #FCFCFC;
    --gray: #939393;
    --shadow: #141c1130;
}

a {
    color: var(--primary);
    text-decoration: none;
}

li {
    list-style: none;
}

svg {
    display: inline;
}

.relative {
    position: relative;
}

/* ../components/header.php */
nav {
    z-index: 10;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: var(--white);

}

nav > svg {
    height: 2rem;
}

#nav-items {
    display: flex;
    gap: 1rem;
}

#nav-items a:hover,
#nav-items button:hover {
    color: var(--accent);
    transition-duration: 200ms;
}

#nav-dropdown {
    display: flex;
    gap: .5rem;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--primary);
    font-size: 1rem;
}

#nav-dropdown-arrow {
    height: 1rem;
}

#nav-dropdown-items {
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    display: none;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
    border-radius: 4px;
    background-color: var(--white);
    box-shadow: 0 2px 4px 2px var(--shadow);
}

#nav-dropdown:focus {
    color: var(--accent);
}

#nav-dropdown:hover + #nav-dropdown-items,
#nav-dropdown:focus + #nav-dropdown-items,
#nav-dropdown-items:focus {
    display: flex;
}

.nav-highlight {
    color: var(--accent)!important;
}

/* ../components/button.php */

button {
    cursor: pointer;
}

.btn {
    display: flex;
    gap: .5rem;
    align-items: center;
    color: var(--white);
    padding: .5rem 1rem;
    height: fit-content;
    border: none;
    border-radius: 1.5rem;
}

.btn:hover {
    opacity: 80%;
    transition-duration: 200ms;
}

.btn svg {
    height: 1rem;
}

.btn.primary {
    background-color: var(--primary);
}

.btn.default {
    background-color: var(--accent);
}

/* ../components/title-highlight.php */
.title-highlight {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.highlight-fx {
    position: absolute;
    height: .5rem;
    bottom: 0;
    left: -1.5%;
    z-index: 0;
}

.highlight-desc {
    position: relative;
    z-index: 1;
}

.title-highlight.center {
    text-align: center;
    justify-content: center;
}

/* ../components/newsletter.php */
section.newsletter {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    color: var(--secondary);
}

input.newsletter {
    padding: .75rem 2rem;
    height: fit-content;
    width: 100%;
    border: none;
    border-radius: 2rem;
}

/* media queries */

@media (min-width: 1024px) {
    .mobile-only {
        display: none;
    }
    
    nav #nav-items {
        /* TODO */
    }
}